/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .logo{width: 180px;}
    .menu ul li a{
        padding: 0px 12px !important;
        margin-bottom: 10px;
    }
    .btn_sign{ margin-left: 0px;}
    header{
        padding:  0;
    }
    /* banner start */
    .banner{
        padding-bottom: 60px;
    }
.b_img{padding: 0 0;
    margin-bottom: 30px;
}
.b_text{
text-align: center;

}
.bh1{
    padding: 0 35px ;
        font-size: 35px;
    line-height: 40px;
}
.bp2{
padding: 0 0;
line-height: 24px;
}
/* feature start */
.c_pad{
    padding-bottom: 60px;}
    .s_feature{
        margin: 30px 0 0;
        padding: 45px 0 40px;}
        .s_img{
            width: 55px;
            height: 75px;
        }
    .s_h2{
        margin-top: 15px;
        font-size: 20px;
    }

    }

 /* Small devices (landscape phones, 576px and up) */
    /* header start */
@media (min-width: 576px) and (max-width: 767.98px) {
    
    .logo{width: 180px;}
    .menu ul li a{
        padding: 0px 12px !important;
        margin-bottom: 10px;
    }
    .btn_sign{ margin-left: 0px;}
    header{
        padding:  0;
    }
    /* banner start */
    .banner{
        padding-bottom: 60px;
    }
.b_img{padding: 0 20px;
    margin-bottom: 30px;
}
.b_text{
text-align: center;

}
.bh1{
    padding: 0 70px 0;
    font-size: 35px;
    line-height: 50px;
}
.bp2{
padding: 0px 50px;
line-height: 24px;
}
/* feature start */
.c_pad{
    padding-bottom: 60px;}
    .s_feature{
        margin: 30px 0 0;
        padding: 45px 0 40px;}
        .s_img{
            width: 55px;
            height: 75px;
        }
    .s_h2{
        margin-top: 15px;
        font-size: 20px;
    }

        
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    
.menu ul li a{
    padding: 0px 12px !important;
    margin-bottom: 10px;
}
.btn_sign{ margin-left: 0px;}
header{
    
    padding: 10px 0;
}
    /* banner start */
.b_img{padding: 0 50px;
        margin-bottom: 30px;
}
.b_text{
    text-align: center;
    
}
.bh1{
    padding: 0 90px 0;
}
.bp2{
    padding: 0 90px;
}
    /* feature start */
    .c_pad{
        padding-bottom: 80px;}
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}
 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    
}
/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
    .bh1{
        padding-right: 100px;
        margin: 10px 0 20px;
    }
}